@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    --bg-body: #F3F5FC;
    --bg-white:#fff;
    --bg-gray:#495057;
    --bg-primary:#0A3871;
    --bg-primary-hover:#052051;
    --bg-blue-light:#D8DFE8;
    --bg-blue-light-hover:#AAB2D5;
    --font-body: 'Inter', sans-serif;
    --font-color-title:#0A3871;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color:var(--bg-body);
    font-family: var(--font-body);
}

.main{
    height: 100%;
    padding: 40px;
}

.main__section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.header{
    height: 70px;
    width: 100%;
    display: flex;
    gap: 1em;
    align-items:center;
    margin-bottom: 40px;
}

.header h1 {
    color: var(--font-color-title);
    font-weight: bold;
    font-size: 32px;
}